<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senior.techchef" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.senior.techchef.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.senior.techchef.WaiterView"
            android:label="@string/title_activity_waiter_view">
        </activity>
        <activity
            android:name="com.senior.techchef.ChefView"
            android:label="@string/title_activity_chef_view">
        </activity>
        <activity
            android:name="com.senior.techchef.MonitorTables"
            android:label="@string/title_activity_monitor_tables" >
        </activity>
        <activity
            android:name="com.senior.techchef.CustomerMenu"
            android:label="@string/title_activity_cutomer_menu">
        </activity>
        <activity
            android:name=".RestaurantView"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
